.Testimonialsmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Testimonialsmain .reviewcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.Testimonialsmain .reviewcontainer .card {
    /* border: 1px solid black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
    width: 220px;
    min-height: 280px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem;
    /* padding: 1rem; */
    /* position: relative; */
    /* background-color: aliceblue; */
}
.Testimonialsmain .reviewcontainer .card p{
    color: rgb(58, 58, 58);
    /* margin-top: 12px; */
    font-size: 12px;
    line-height: 1rem;
    text-align: justify;
}
.Testimonialsmain .reviewcontainer .card .text{
    color: rgb(58, 58, 58);
    /* margin-top: 32px; */
    font-size: 1vw;
    line-height: 1.4vw;
    text-align: justify;
    padding: 1rem;
}
.Testimonialsmain .reviewcontainer .card .text h2{
    font-size: 1.2rem;
    margin: 1px 0;
}
.Testimonialsmain .reviewcontainer .card .text .star{
    color: var(--Primary);
}
.Testimonialsmain .reviewcontainer .card .topimg {
    height: 100px;
    width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
    border-radius: 2rem;
}

.Testimonialsmain .reviewcontainer .card .topimg .imgcover {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 4rem;
    overflow: hidden;
    border: 6px solid black;
    object-fit: contain;
}

.Testimonialsmain .reviewcontainer .card .topimg .imgcover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1280px) {
    .Testimonialsmain .reviewcontainer {
        justify-content: center;
        align-items: center;
    }
    .sportdestinationmain .main .sportcardcontainer .sportcard {
        width: 300px;
    }
}
