.thumbimgbox {
    margin: 0.4rem 1rem;
    width: 280px;
    height: 328px;
    object-fit: contain;
    position: relative;
    border-radius: 2rem;
    border: 1px solid black;
}

.thumbimgbox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2dd6e;
    background-image: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);
    border-radius: 2rem;
    transform: rotate(4deg);
    z-index: -1; 
    transition: 0.4s all ease-in-out;
}
.thumbimgbox:hover::after{
    transform: rotate(12deg);
}
.thumbimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
@media only screen and (max-width: 768px) {
    .thumbimgbox{
        width: 200px;
        height: 280px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 568px) {
    .thumbimgbox {
        margin: 0.4rem 0.4rem;
    
    }
    .thumbimgbox{
        width: 140px;
        height: 200px;
    }

}