@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --Primary: #f0ca02;
  --light: #fff;
  --dark: #000;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Scrollbar css */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  background: var(--Primary);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #f7d739;
  ;
}

/* Scrollbar css */
.App {
  min-height: 100vh;
  width: 100vw;
  /* height: auto; */
  position: relative;
}

.App .topfixed {
  top: 0%;
  /* position: sticky; */
  z-index: 9999;
}

/* .App .Footer{
  position: absolute;
  bottom: 0;
} */
.Home {

  min-width: 100vw;
  min-height: 84vh;
  background-image: url(./assets/Background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);

}

.Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.Home .homereview {
  position: absolute;
  bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Home .homereview .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.Home .homereview .review h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .homereview .review h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.Home .homereview .review .star {
  color: #f0ca02;
}

.Home .homereview .homeanime {
  width: 60px;
  max-width: 22vw;
}

.Home .Homehead {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Home .Homehead .hometypewritereffect {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.Home .Homehead h2 {
  max-width: 80vw;
  font-size: 4.6rem;
  text-align: center;
}

.Home .homesearch {
  /* background-color: var(--light); */
  padding: 0.4rem;
  border-radius: 2rem;
  position: relative;
  width: 780px;
  height: 48px;
  max-width: 70vw;
}

.Home .homesearch input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  /* background-color: rgba(255, 255, 255, 0.15);
  filter: blur(25); */
}

.Home .homesearch input ::placeholder {
  font-size: 1.1rem;
}

.searchicon {
  background-color: var(--Primary);
  color: var(--light);
  border-radius: 4rem;
  position: absolute;
  right: 0;
  top: 25%;
  font-size: 48px;
  transition: 0.6s all ease-in-out;
}

.searchicon:hover {
  transform: scale(1.08);

}

.expertcontactsection {
  width: 100vw;
  overflow: hidden;
  min-height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertcontactsection .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.expertcontactsection .top h2 {
  color: var(--dark);
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.5rem;
  /* max-width: 60%; */
  text-align: center;
  width: 60%;

}

.expertcontactsection .top h2 span {
  color: var(--Primary);
}

.expertcontactsection .button {
  outline: none;
  border: 0px;
  background-color: var(--Primary);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}

.expertcontactsection .button:hover {
  transform: scale(1.05);
  background-color: var(--dark);
  color: var(--light);

}

/* Destination page */
.destinationmain {
  min-height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.destinationmain .topimgsection {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.destinationmain .topimgsection .text {
  position: absolute;
  top: 24%;
  left: 12%;
  line-height: 1.8rem;

}

.destinationmain .topimgsection .text h2 {
  color: var(--light);
  width: fit-content;
  border-bottom: 6px solid var(--Primary);
  border-left: 6px solid var(--Primary);
  padding: 0.6rem;
  max-width: 80vw;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px;
  padding-left: 15px;
  margin-bottom: 14px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 36px;
  backdrop-filter: blur(10px);

}

.destinationmain .topimgsection .text h4 {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.05em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  padding: 8px 12px;
  border-radius: 3px;
  border-left: 6px solid var(--Primary);
}

.destinationmain .topimgsection .topbackgroundimage {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  
}

.destinationmain .topimgsection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
 
}


.destinationmain .topimgsection .homereview {
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--light);
  
}

.destinationmain .topimgsection .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

}

.destinationmain .topimgsection .review h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destinationmain .topimgsection .review h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.destinationmain .topimgsection .review .star {
  color: #f0ca02;
}

.destinationmain .topimgsection .homeanime {
  width: 60px;
  max-width: 22vw;
}

/* Destination page */

@media only screen and (max-width: 768px) {

  .Home .Homehead h2 {
    font-size: 2.4rem;
    line-height: 2rem;
  }

  .Home .homereview .review {
    font-size: 0.8rem;
  }

  .destinationmain .topimgsection .homereview .review {
    font-size: 0.8rem;
  }

  .homereview {
    max-width: 80vw;
  }

  .destinationmain .topimgsection .homereview {
    max-width: 80vw;
  }

  .expertcontactsection {
    padding: 1rem;
  }

  .expertcontactsection .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
  }

  .expertcontactsection .top h2 {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.2rem;
    padding: 0.4rem 0;


  }

  .expertcontactsection p {
    font-size: 0.8rem;
    text-align: center;
  }

  .expertcontactsection .button {
    padding: 0.5rem 1rem;

  }

  .destinationmain .topimgsection .text {

    left: 8%;
  }

  .destinationmain .topimgsection .text h2 {
    max-width: 100%;
    font-size: 25px;
    line-height: 30px;
    border-width: 4px;
    padding-left: 5px 10px;
  }

  .destinationmain .topimgsection .text h4 {
    font-size: 16px;
    line-height: 130%;
    padding: 5px 10px;
    width: fit-content;
    max-width: 80vw;
  }

}

@media only screen and (min-width: 280px) and (max-width: 568px) {}