.sportdestinationmain {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.sportdestinationmain .main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sportdestinationmain .main .sportcardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sportdestinationmain .main .sportcardcontainer .sportcard {
    width: 385px;
    max-width: 80vw;
    height: fit-content;
    padding: 1rem;
    margin: 0.6rem;
    /* border: 1px solid black; */
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s all ease-in-out;
}

.sportdestinationmain .main .sportcardcontainer .sportcard:hover {
    transform: scale(1.02);
}

.sportdestinationmain .main .sportcardcontainer .sportcard .imgtop {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sportdestinationmain .main .sportcardcontainer .sportcard .imgtop .img {
    max-width: 80vw;
    width: 360px;
    height: 200px;
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom .upper {
    display: flex;
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom .upper .tag {
    border: 1px solid var(--Primary);
    padding: 0.2rem;
    margin: 0.2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: rgb(252, 252, 169);
    font-size: 14px;
    transition: 0.3s all ease-in-out;
}
.sportdestinationmain .main .sportcardcontainer .sportcard .bottom .upper .tag:nth-child(1){
    margin-left:0 ;
}
.sportdestinationmain .main .sportcardcontainer .sportcard .bottom .upper .tag:hover {
    transform: translateY(-2px);
    background-color: var(--Primary);
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom .upper .tag .icon {
    font-size: 14px;
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom h4,
p {
    text-align: left;
}

.sportdestinationmain .main .sportcardcontainer .sportcard .bottom h4 {
    color: var(--Primary);
    font-weight: 400;
}

.sportdestinationmain .main h2 {
    color: var(--dark);
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.5rem;
    /* max-width: 60%; */
    text-align: left;
    /* width: 60%; */
    margin: 0.6rem 0;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */

}
@media only screen and (max-width: 768px) {
    .sportdestinationmain .main h2  {
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding: 0.4rem 0;
    }

}

@media only screen and (min-width: 280px) and (max-width: 568px) {
    
}